html {
    position: relative;
    min-height: 100%;
}

body {
    overflow-y: scroll;
    margin-bottom: 60px;
    padding:0;
    height:100%;
}

#container {
    min-height:100%; 
    position:relative;
    height: 100%;
}
#header {
   padding:10px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  align-content: center;
}

h5 {
    font-family: ‘Bookman Old Style’, Georgia, Garamond, ‘Times New Roman’, Times, serif;
    border-bottom: 2px solid darkseagreen;
    padding-bottom: 2px;
    font-size: 16px;
}

.hlink {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
}

a {
    color: darkseagreen;
    text-decoration: none;
    text-shadow: -.25px 0 black, 0 .25px black, .25px 0 black, 0 -.25px black;
}

p {
    font-family: ‘Hoefler Text’, Garamond, Georgia, ‘Times New Roman’, Times, serif;
    color: darkolivegreen;
    font-size: 11px;
}

p1 {
    font-family: ‘Hoefler Text’, Garamond, Georgia, ‘Times New Roman’, Times, serif;
    color: darkolivegreen;
    font-size: 16px;
    padding-left: 45px;
}

.projectdescription {
    max-width: 600px;
}

p2 {
    font-family: ‘Bookman Old Style’, Georgia, Garamond, ‘Times New Roman’, Times, serif;
    color: darkolivegreen;
    font-size: 16px;
}

img {
    width: 30%;
    object-fit:contain;
}

.member {
    display: inline-block;
    width:31%;
    vertical-align: top;
    text-align:center;
    padding: 15px;
}

.description {
    display: inline;
}

.member img {
    width: 100%;
    display: block;
    border: 1px solid black;
}

footer {
    font-family: ‘Hoefler Text’, Garamond, Georgia, ‘Times New Roman’, Times, serif;
    color: darkolivegreen;
    font-size: 11px;
}
