/* Stylesheet by Amy Willoughby, 2018 */
header {
    font-family: serif;
    font-size: 1.8em;
    font-weight: bold;
}

body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.text {
    font-size: 9;
}

.lorem {
    font-style: italic;
}

.widget .leaflet-popup-content-wrapper {
    background: #E93434;
    color: #FFFFFF;
}
